block vars
  - var twitterUrl = '#'

doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    title page
    link(rel='stylesheet', href='css/style.css')

  body.page-sub
    .wrapper
      main
        p: a(href= twitterUrl)
          | Twitterで見る

    include ./_partial/_ga.html
    // script(src='js/lib/jquery.min.js')
    // script(src='js/lib/lodash.min.js')
    // script(src='js/main.js')