extends ./_layout/DefaultLayout

append ConfigBlock
  - relativePath = '..'
  - page_name = ''
  - pageId = 'page-sub'
  - twitterUrl = '#'
  - imagePath = '../img/'

append StylesheetBlock
  link(rel="stylesheet", href="../css/style.css")

append JavascriptBlock
  script(src='../js/lib/jquery.min.js')
  script(src='../js/lib/lodash.min.js')
  script(src="../js/main.js")

block ContentBlock
  main.main
    .inner-block
      .image
        a.link(href= twitterUrl, target='_blank')
          img(src= imagePath)
