extends ./_layout/DefaultLayout

prepend ConfigBlock
  - page_name = ''
  - pageId = 'page-sub'
  - twitterUrl = '#'

append StylesheetBlock
  link(rel="stylesheet", href="../css/style.css")

append JavascriptBlock
  script(src='../js/lib/jquery.min.js')
  script(src='../js/lib/lodash.min.js')
  script(src="../js/main.js")

block ContentBlock
  main
    p: a(href= twitterUrl)
      | Twitterで見る
