extends ./_layout/DefaultLayout

append ConfigBlock
  - relativePath = '.'
  - page_name = ''
  - pageId = 'page-index'

append StylesheetBlock
  link(rel="stylesheet", href="css/style.css")

append JavascriptBlock
  script(src='js/lib/jquery.min.js')
  script(src='js/lib/lodash.min.js')
  script(src="js/main.js")

block ContentBlock
  header
    h1.heading(data-heading-level='1')
      | フラクタル音楽
  main
    .inner-block
      ul.list
        li: a(href="./real-xor/")
          | Real Xor
        li: a(href="./2016-06-13/")
          | 2016-06-13
        li: a(href="./2016-06-15/")
          | 2016-06-15
        li: a(href="./2016-07-10/")
          | 2016-07-10
        li: a(href="./2016-07-12/")
          | 2016-07-12
        li: a(href="./2016-07-22/")
          | 2016-07-22
        li: a(href="./2016-07-26/")
          | 2016-07-26
